:root {
    --red: orangered;
    --yellow: yellow;
    --green: limegreen;
    --blue: skyblue;
    --black: black;
}

/* WARNING - Begins - Classes below are used by the JavaScript file. */
/* Background */
.redbg {
    background-color: var(--red);
}

.yellowbg {
    background-color: var(--yellow);
}

.greenbg {
    background-color: var(--green);
}

.bluebg {
    background-color: var(--blue);
}

/* Colors */
.black {
    color: var(--black);
}

.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}

.green {
    color: var(--green);
}

.blue {
    color: var(--blue);
}

/* checkCell */
.checkCell {
    background:linear-gradient(
    to bottom right, 
    transparent  calc(50% - 2px), 
    #333        calc(50% - 2px), 
    #333        calc(50% + 2px) , 
    transparent  calc(50% + 2px)
    ),
        
    linear-gradient(
    to bottom left, 
    transparent  calc(50% - 2px), 
    #333        calc(50% - 2px), 
    #333        calc(50% + 2px) , 
    transparent  calc(50% + 2px)
  );
}
/* WARNING - Ends */ 

#displayDices {
    height: 50px;
    font-size: xx-large;
}

/* Table */
table,
td {
    border: 1px solid #333;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

