:root {
    --dark: #393E46;
    --medium-dark: #6D9886;
    --medium-light: #F2E7D5;
    --light: #F7F7F7;
    --red: orangered;
    --yellow: yellow;
    --green: limegreen;
    --blue: skyblue;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--medium-dark);
    color: var(--light);
}

header {
    color: var(--medium-light);
    background-color: var(--dark);
    border-bottom: 0.25em solid var(--medium-light);
    position: sticky;
    top: 0;
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
    z-index: 1;
}

#whoIsMainPlayer {
    text-align: center;
    font-style: italic;
    flex: content;
}

#rules a {
    text-decoration: none;
}

main {
    overflow: hidden;
}

section, #validation {
    text-align: center;
    padding: 2vh;
    margin: 1vh auto;
}

#player2 {
    background-color: var(--medium-light);
    opacity: 0.8;
    overflow: hidden;
    margin: initial;
    border-bottom: 0.25em solid var(--light);
}

#player2:hover {
    opacity: 1;
}

details {
    margin: auto;
    padding: 5%;
}

table {
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--medium-light);
    width: 90%;
    max-width: 400px;
    color: var(--dark);
}

tr {
    width: 90%;
    max-width: 400px;
}

td {
    border: 1px solid var(--medium-dark);
    border-radius: 5px;
    min-width: 20px;
    height: 20px;
}

#lancededes {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    gap: 0.5em;
    width: 80%;
    max-width: 400px;
    margin: 0.5em auto;
    border-radius: 5px;
    background-color: var(--dark);    
}

#desblancs {
    display: inline-flex;
    justify-content: space-evenly;
    gap: 0.25em;
}

#descouleur {
    display: flex;
    justify-content: space-evenly;
    gap: 0.25em;
}

.deblanc {
    color: var(--light);
}

.derouge {
    color: var(--red);
}

.dejaune {
    color: var(--yellow);
}

.devert {
    color: var(--green);
}

.debleu {
    color: var(--blue);
}

.lignerouge {
    background-color: orangered;
}

.lignejaune {
    background-color: yellow;
}

.ligneverte {
    background-color: limegreen;
}

.lignebleue {
    background-color: skyblue;
}

.resultat {
    background-color: black;
    color: white;
}

.casepossibleDBlancs /* selon lancé de dés Blancs */
{
    border: 3px black solid;
}

.casepossibleDCouleur /* selon lancé de dés Blanc + Couleur */
{
    border: 3px purple dotted;
}

.casenegative {
    border: 3px grey solid;
}

.caseimpossible /* case passée */
{
    background-image: linear-gradient(45deg, #6303B1, #ff0099);
    opacity: 0.5;
}

.caseselectionnee /* choix de Prénom */
{
    background:linear-gradient(
    to bottom right, 
    transparent  calc(50% - 2px), 
    blue        calc(50% - 2px), 
    blue        calc(50% + 2px) , 
    transparent  calc(50% + 2px)
    ),
        
    linear-gradient(
    to bottom left, 
    transparent  calc(50% - 2px), 
    blue        calc(50% - 2px), 
    blue        calc(50% + 2px) , 
    transparent  calc(50% + 2px)
  );
}

.casecochee /* enregistré */
{    
    background:linear-gradient(
    to bottom right, 
    transparent  calc(50% - 1px), 
    black        calc(50% - 1px), 
    black        calc(50% + 1px) , 
    transparent  calc(50% + 1px) 
  ),
        
    linear-gradient(
    to bottom left, 
    transparent  calc(50% - 1px), 
    black        calc(50% - 1px), 
    black        calc(50% + 1px) , 
    transparent  calc(50% + 1px)
  );
}

.noborder {
    border-style: none;
}

footer {
    font-size: 0.7em;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1%;
}

a {
    color: var(--medium-dark);
}

a:hover {
    color: var(--light);
}

li {
    padding-top: 10px;
}

.small {
    font-size: x-small;
}